# client files
cache/
identity
resources
save.dat
corrupted_save.dat
config.ini
crash.txt
hub_os.exe
hub_os
_*

# testing
dev.konstinople.encounter.final_destination_multiman
dev.konstinople.library.ssb
dev.GladeWoodsgrove.SwitchDrives.DEBUG_GAUGE

# scripts
node_modules
